<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ambulancebooking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmbulanceBooking">
        <activity
            android:name=".MyProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity
            android:name=".Map"
            android:exported="true"></activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfsr99sqhCdfv2VdJphF-W5gheu_PFz4I" />
    </application>

</manifest>